body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .parent {
    background-color: green;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 8px solid;
    border-color: blue purple yellow red;

} */

.main {
    background-color: green;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: relative;
    animation: turning-back 1s infinite linear;
}

span {
    position: absolute;
    left: 30%;
    top: 45%;
    font-size: 30px;
}

.border {
    position: relative;
    background-color: transparent;
    border: 8px solid;
    border-radius: 50%;
    border-color: blue purple yellow red;
    padding: 10px;
    animation: turning 1s infinite linear;
}

@keyframes turning {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes turning-back {
    100% {
        transform: rotate(-360deg);
    }
}