body {
    background-color: black;
}

h2 {
    color: white;
    font-size: 48px;
    text-align: center;
}

img {
    margin-left: 8px;
    margin-right: 8px;
    width:80%;
    border: 3px solid;
    border-radius: 15px;
}

h3 {
    color: white;   
    margin: 10px 0;
}

* {
    font-family: sans-serif;
}

a {
    width: 25%;
    color: blue;
}

button {
    color: white;
    display: block;
    padding: 16px 48px;
    margin: 50px auto;
    font-size: 18px;
    line-height: 27px;
    border: 1px solid #dde0eb;
    box-sizing: border-box;
    border-radius: 4px;
    background: transparent;    
}

button:hover {
    border-color: blue;
    color: blue;
}

.container {
    float: left;
    width: 25%;
}